<h1>New Restaurant</h1>

  <%= render 'form', restaurant: @restaurant %>

  <br>
  <br>

  <%= link_to "See all restaurants", restaurants_path,
  class: "btn text-white", style:"background-color: #6ea4f7;"%>
